body {
    font-family: Arial;
    background-color: #f4f9f4;
    margin: 0;
    direction: rtl;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
}

img {
    width: 250px;
    border-radius: 10px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
